[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "shinyHugePlot"]
	path = shinyHugePlot
	url = https://github.com/cran/shinyHugePlot
